.video-bottom-ct .widgets:after,.clearfix:after,.more:after,.nano-tip:after {
    clear: both
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0
}

@font-face {
    font-family:iconfont;src:url(//at.alicdn.com/t/font_1476930375_9345844.eot);src:url(//at.alicdn.com/t/font_1476930375_9345844.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1476930375_9345844.woff) format('woff'),url(//at.alicdn.com/t/font_1476930375_9345844.ttf) format('truetype'),url(//at.alicdn.com/t/font_1476930375_9345844.svg#iconfont) format('svg')
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

#panovr-player * {
    box-sizing: content-box
}

#disqus_thread {
    padding: 0 10px
}

#SOHUCS .cy-newlogin-wap .cy-newlogin-wrapper .cy-newlogin-body .cy-newlogin-form .cy-newlogin-form-line .cy-get-pwd {
    line-height: 12px
}

.origin-img {
    z-index: 111113!important
}

.language {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px
}

.language .flag {
    width: 16px;
    vertical-align: sub;
    margin-right: 8px
}

.language #lang-link {
    text-decoration: none;
    display: inline;
    line-height: inherit;
    color: #fff;
    padding: 0;
    font-size: 12px
}

.language #lang-link.black {
    color: #2d2d2d
}

.qrcode-ct {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100004;
    background: rgba(0,0,0,.4)
}

.qrcode {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    margin-left: -100px;
    margin-top: -100px;
    background: #fff;
    border-radius: 5px
}

.mobile-frame-ct {
    position: relative;
    height: 100%;
    background-color: #fff
}

.desktop-plugin-ct {
    position: absolute;
    right: 0;
    top: -47px;
    z-index: 11;
    display: none
}

.desktop-img-ct {
    position: absolute;
    width: 665px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -332.5px;
    display: none
}

.desktop-img-ct .banner-link-left {
    display: block;
    position: absolute;
    left: -245px;
    top: 1px
}

.desktop-img-ct .banner-link-right {
    display: block;
    position: absolute;
    right: -245px;
    top: 1px
}

.desktop-img-ct .left-banner,.desktop-img-ct .right-banner {
    display: block;
    height: 499px
}

.desktop-img-ct .nano-iphone {
    width: 767px;
    height: 553px;
    position: relative;
    display: block;
    margin: auto
}

.nano-tip .know-more.huawei {
    color: #fff;
    border-color: #00B5E2;
    background-color: #00B5E2
}

.nano-tip .know-more.huawei:hover {
    color: #fff;
    border-color: #008caf;
    background-color: #008caf
}

@media (min-width:900px) {
    body:not(.force-desktop),html {
        position: relative!important
    }

    body:not(.force-desktop) {
        min-height: 800px;
        background-image: url(/public/images/event/img/bg@1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        overflow-x: hidden
    }

    body:not(.force-desktop) .mobile-frame-ct {
        overflow: auto;
        width: 665px;
        height: 500px;
        z-index: 10;
        border: 1px solid #000;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -332.5px
    }

    body:not(.force-desktop) .desktop-img-ct,body:not(.force-desktop) .desktop-plugin-ct {
        display: block
    }

    body:not(.force-desktop) .nano-tip.mobile {
        position: absolute!important;
        -webkit-transition: none;
        transition: none
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down {
        height: 0;
        line-height: 0;
        bottom: 0;
        padding: 0
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down .button,body:not(.force-desktop) .nano-tip.mobile.hide-down .player-icon,body:not(.force-desktop) .nano-tip.mobile.hide-down .player-text {
        display: none
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down .close .up {
        display: block!important;
        margin: auto
    }

    body:not(.force-desktop) .comments-detail,body:not(.force-desktop) .widgets-top .comments {
        display: none
    }
}

@media (min-width:900px) and only screen and (-webkit-min-device-pixel-ratio:2),(min-width:900px) and only screen and (min--moz-device-pixel-ratio:2),(min-width:900px) and only screen and (min-device-pixel-ratio:2),(min-width:900px) and only screen and (min-resolution:192dpi),(min-width:900px) and only screen and (min-resolution:2dppx) {
    body:not(.force-desktop) {
        background-image: url(/public/images/event/img/bg@2x.jpg)
    }
}

.more #wechat-share {
    position: absolute;
    left: -14px;
    width: 170px;
    top: 50px;
    display: none
}

.more .share {
    position: relative
}

.more .share .share-info {
    line-height: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400
}

.more .share .share-icon {
    display: inline-block;
    width: 36px
}

.more .share .share-icon img {
    display: block;
    width: 100%
}

.more .share .embed-box {
    position: absolute;
    padding: 8px;
    right: -122px;
    top: 49px;
    width: 450px;
    height: 142px;
    font-size: 12px;
    color: #a8a8a8;
    background: #2D2D2D;
    border-radius: 4px;
    display: none
}

.more .share .embed-box .embed-arrow {
    position: absolute;
    top: -10px;
    right: 130px;
    margin: auto;
    width: 23px
}

.more .share .embed-box .embed-title {
    margin: 0 0 8px;
    line-height: 28px
}

.more .share .embed-box .embed-content .embed-text {
    margin-right: 8px;
    margin-bottom: 13px;
    height: 36px;
    width: 358px;
    display: inline-block;
    color: #2D2D2D;
    outline: 0;
    font-size: 12px;
    line-height: 36px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    text-indent: 4px
}

.more .share .embed-box .embed-content .embed-copy {
    height: 36px;
    width: 64px;
    display: inline-block;
    font-size: 12px;
    line-height: 36px;
    color: #2D2D2D;
    background: #ffd200;
    border-radius: 4px;
    text-align: center;
    text-decoration: none
}

.more .share ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0
}

.more .share ul li {
    display: inline-block
}

.more .share ul li a {
    display: block;
    width: 48px;
    height: 48px
}

.more .share ul li a img {
    width: 100%;
    display: block
}

.more .published {
    width: 30%;
    line-height: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400
}

body,h6 {
    line-height: 1.6
}

.more:after,.more:before {
    content: " ";
    display: table
}

.gray-darker {
    color: #222
}

.gray-dark {
    color: #333
}

.gray {
    color: #555
}

.gray-light {
    color: #777
}

.gray-lighter {
    color: #eee
}

.column,.columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 80%
}

.button,button,input[type=submit],input[type=reset],input[type=button] {
    padding: 0 30px;
    color: #555;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
    -webkit-transition: all .25s ease-in-out;
    height: 40px;
    white-space: nowrap;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer
}

.column,.columns {
    margin-left: 4%
}

.column:first-child,.columns:first-child {
    margin-left: 0
}

.one.column,.one.columns {
    width: 4.66666667%
}

.two.columns {
    width: 13.33333333%
}

.three.columns {
    width: 22%
}

.four.columns {
    width: 30.66666667%
}

.five.columns {
    width: 39.33333333%
}

.six.columns {
    width: 48%
}

.seven.columns {
    width: 56.66666667%
}

.eight.columns {
    width: 65.33333333%
}

.nine.columns {
    width: 74%
}

.ten.columns {
    width: 82.66666667%
}

.eleven.columns {
    width: 91.33333333%
}

.twelve.columns {
    width: 100%;
    margin-left: 0
}

.one-third.column {
    width: 30.66666667%
}

.two-thirds.column {
    width: 65.33333333%
}

.one-half.column {
    width: 48%
}

.offset-by-one.column,.offset-by-one.columns {
    margin-left: 8.66666667%
}

.offset-by-two.column,.offset-by-two.columns {
    margin-left: 17.33333333%
}

.offset-by-three.column,.offset-by-three.columns {
    margin-left: 26%
}

.offset-by-four.column,.offset-by-four.columns {
    margin-left: 34.66666667%
}

.offset-by-five.column,.offset-by-five.columns {
    margin-left: 43.33333333%
}

.offset-by-six.column,.offset-by-six.columns {
    margin-left: 52%
}

.offset-by-seven.column,.offset-by-seven.columns {
    margin-left: 60.66666667%
}

.offset-by-eight.column,.offset-by-eight.columns {
    margin-left: 69.33333333%
}

.offset-by-nine.column,.offset-by-nine.columns {
    margin-left: 78%
}

.offset-by-ten.column,.offset-by-ten.columns {
    margin-left: 86.66666667%
}

.offset-by-eleven.column,.offset-by-eleven.columns {
    margin-left: 95.33333333%
}

.offset-by-one-third.column,.offset-by-one-third.columns {
    margin-left: 34.66666667%
}

.offset-by-two-thirds.column,.offset-by-two-thirds.columns {
    margin-left: 69.33333333%
}

.offset-by-one-half.column {
    margin-left: 52%
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}

h1 {
    line-height: 1.2;
    font-size: 5rem
}

h2 {
    line-height: 1.25;
    font-size: 4.2rem
}

h3 {
    line-height: 1.3;
    font-size: 3.6rem
}

h4 {
    line-height: 1.35;
    font-size: 3rem
}

h5 {
    line-height: 1.5;
    font-size: 2.4rem
}

h6 {
    font-size: 1.5rem
}

p {
    margin-top: 0
}

a {
    color: #1eaedb
}

a:hover {
    color: #1b9cc5
}

.button,button {
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #bbb;
    transition: all .25s ease-in-out
}

.button.button-block,button.button-block,label,legend {
    display: block
}

ol,ul {
    padding-left: 0;
    margin-top: 0
}

.button:focus,button:focus {
    outline: 0
}

input[type=submit],input[type=reset],input[type=button] {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #bbb;
    transition: all .25s ease-in-out
}

input[type=submit]:focus,input[type=reset]:focus,input[type=button]:focus {
    outline: 0
}

input[type=submit].button-block,input[type=reset].button-block,input[type=button].button-block {
    display: block;
    width: 100%
}

.button:hover,button:hover,input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary,button.button-primary,input[type=submit].button-primary,input[type=reset].button-primary,input[type=button].button-primary {
    color: #2d2d2d;
    background-color: #ffd200;
    border-color: #ffd200
}

.button.button-primary:hover,button.button-primary:hover,input[type=submit].button-primary:hover,input[type=reset].button-primary:hover,input[type=button].button-primary:hover {
    color: #2d2d2d;
    background-color: #E6BB00;
    border-color: #E6BB00
}

.button.button-primary:active,button.button-primary:active,input[type=submit].button-primary:active,input[type=reset].button-primary:active,input[type=button].button-primary:active {
    color: rgba(45,45,45,.2);
    background-color: #CFAB0A;
    border-color: #CFAB0A
}

.button.button-primary.disabled,button.button-primary.disabled,input[type=submit].button-primary.disabled,input[type=reset].button-primary.disabled,input[type=button].button-primary.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

.button.button-dark,button.button-dark,input[type=submit].button-dark,input[type=reset].button-dark,input[type=button].button-dark {
    color: #fff;
    background-color: #666;
    border-color: #666
}

.button.button-dark:hover,button.button-dark:hover,input[type=submit].button-dark:hover,input[type=reset].button-dark:hover,input[type=button].button-dark:hover {
    color: #fff;
    background-color: #595959;
    border-color: #595959
}

.button.button-dark:active,button.button-dark:active,input[type=submit].button-dark:active,input[type=reset].button-dark:active,input[type=button].button-dark:active {
    color: #fff;
    background-color: #4d4d4d;
    border-color: #4d4d4d
}

.button.button-dark.disabled,button.button-dark.disabled,input[type=submit].button-dark.disabled,input[type=reset].button-dark.disabled,input[type=button].button-dark.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

.button.button-gray,button.button-gray,input[type=submit].button-gray,input[type=reset].button-gray,input[type=button].button-gray {
    color: #2d2d2d;
    background-color: #F0F0F0;
    border-color: #F0F0F0
}

.button.button-gray:hover,button.button-gray:hover,input[type=submit].button-gray:hover,input[type=reset].button-gray:hover,input[type=button].button-gray:hover {
    color: #2d2d2d;
    background-color: #E6E6E6;
    border-color: #E6E6E6
}

.button.button-gray:active,button.button-gray:active,input[type=submit].button-gray:active,input[type=reset].button-gray:active,input[type=button].button-gray:active {
    color: rgba(45,45,45,.2);
    background-color: #D9D9D9;
    border-color: #D9D9D9
}

.button.button-gray.disabled,button.button-gray.disabled,input[type=submit].button-gray.disabled,input[type=reset].button-gray.disabled,input[type=button].button-gray.disabled {
    color: #969696;
    background-color: #B7B7B7;
    border-color: #B7B7B7
}

.button.button-black,button.button-black,input[type=submit].button-black,input[type=reset].button-black,input[type=button].button-black {
    color: #fff;
    background-color: #151515;
    border-color: #151515
}

.button.button-black:hover,button.button-black:hover,input[type=submit].button-black:hover,input[type=reset].button-black:hover,input[type=button].button-black:hover {
    color: #fff;
    background-color: #2B2B2B;
    border-color: #2B2B2B
}

.button.button-black:active,button.button-black:active,input[type=submit].button-black:active,input[type=reset].button-black:active,input[type=button].button-black:active {
    color: rgba(255,255,255,.2);
    background-color: #424242;
    border-color: #424242
}

.button.button-black.disabled,button.button-black.disabled,input[type=submit].button-black.disabled,input[type=reset].button-black.disabled,input[type=button].button-black.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

input[type=email],input[type=number],input[type=search],input[type=text],input[type=tel],input[type=url],input[type=password] {
    height: 40px;
    padding: 6px 10px;
    background-color: #ebebeb;
    font-size: 12px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=email].error,input[type=number].error,input[type=search].error,input[type=text].error,input[type=tel].error,input[type=url].error,input[type=password].error {
    border: 1px solid #FF4545;
    background-color: #FFD8D8
}

input[type=email]:hover,input[type=number]:hover,input[type=search]:hover,input[type=text]:hover,input[type=tel]:hover,input[type=url]:hover,input[type=password]:hover,select,textarea {
    background-color: #fff
}

select,textarea {
    height: 40px;
    padding: 6px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=email]:focus,input[type=number]:focus,input[type=search]:focus,input[type=text]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=password]:focus {
    background-color: #fff;
    border: 1px solid #ffd200;
    outline: 0
}

select:focus,textarea:focus {
    border: 1px solid #ffd200;
    outline: 0
}

input[disabled=disabled][type=email],input[disabled=disabled][type=number],input[disabled=disabled][type=search],input[disabled=disabled][type=text],input[disabled=disabled][type=tel],input[disabled=disabled][type=url],input[disabled=disabled][type=password] {
    color: #7f7f7f;
    background-color: #999
}

label,legend {
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox],input[type=radio] {
    display: inline;
    height: 16px;
    width: 16px;
    margin: 0;
    vertical-align: bottom
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol ol,ol ul,ul ol,ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

.button,button,li {
    margin-bottom: 1rem
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 2px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

td,th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}

td:first-child,th:first-child {
    padding-left: 0
}

td:last-child,th:last-child {
    padding-right: 0
}

fieldset,input,select,textarea {
    margin-bottom: 1.5rem
}

blockquote,dl,figure,form,ol,p,pre,table,ul {
    margin-bottom: 2.5rem
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1
}

.container:after,.row:after,.u-cf {
    content: "";
    display: table;
    clear: both
}

body,html {
    margin: 0;
    padding: 0
}

*,:after,:before {
    box-sizing: border-box
}

* {
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,'Source Han Sans TC','Source Han Sans','Nimbus Sans L','Liberation Sans','Hiragino Sans GB','Nota Han Sans','Microsoft YaHei','Droid Sans','Droid Sans Fallback','Wenquanyi Micro Hei ','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif
}

a:active,a:focus,a:hover {
    outline: 0
}

.left {
    float: left!important
}

.right {
    float: right!important
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.hidden {
    display: none!important;
    visibility: hidden!important
}

.show {
    display: block!important
}

.text-right {
    text-align: right
}

.wrap {
    width: 100%;
    margin: 0 auto
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0,0,1,15deg);
        transform: rotate3d(0,0,1,15deg)
    }

    40% {
        -webkit-transform: rotate3d(0,0,1,-10deg);
        transform: rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: rotate3d(0,0,1,5deg);
        transform: rotate3d(0,0,1,5deg)
    }

    80% {
        -webkit-transform: rotate3d(0,0,1,-5deg);
        transform: rotate3d(0,0,1,-5deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0,0,1,15deg);
        transform: rotate3d(0,0,1,15deg)
    }

    40% {
        -webkit-transform: rotate3d(0,0,1,-10deg);
        transform: rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: rotate3d(0,0,1,5deg);
        transform: rotate3d(0,0,1,5deg)
    }

    80% {
        -webkit-transform: rotate3d(0,0,1,-5deg);
        transform: rotate3d(0,0,1,-5deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes scaleIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scaleIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.nano-tip {
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100005;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: bottom .25s ease,opacity .25s ease;
    transition: bottom .25s ease,opacity .25s ease
}

.nano-tip:after,.nano-tip:before {
    content: " ";
    display: table
}

.nano-tip.hide-down {
    bottom: -56px
}

.nano-tip.hide-down .close {
    top: -16px
}

.nano-tip.hide-down .close .up {
    display: block
}

.nano-tip.hide-down .close .down {
    display: none
}

.nano-tip.fade-out {
    opacity: 0;
    pointer-events: none
}

.nano-tip .player-icon {
    width: 36px;
    float: left;
    margin-right: 5px
}

.nano-tip .player-text {
    float: left;
    height: 28px;
    margin-top: 5px
}

.nano-tip .button {
    float: right;
    padding: 0;
    width: 76px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0
}

.nano-tip .close {
    position: absolute;
    color: #979797;
    width: 16px;
    height: 16px;
    top: -6px;
    left: 0;
    background: rgba(0,0,0,.8);
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-transition: top .25s ease;
    transition: top .25s ease
}

.nano-tip .close i {
    display: block;
    line-height: 16px
}

.nano-tip .close .up {
    display: none
}

body,html {
    position: relative;
    height: 100%
}

body {
    background-color: #fff
}

.discrib .title {
    font-size: 22px;
    font-weight: 700;
    word-break: break-all;
    margin: 0 67px 15px 0
}

.discrib>.detail {
    font-size: 14px;
    border-bottom: solid 2px #F1F1F1;
    font-weight: lighter;
    padding-bottom: 35px;
    color: #4A4A4A
}

.discrib .time {
    font-size: 12px;
    float: right;
    margin-top: 8px;
    font-weight: 400;
    color: #888
}

.discrib .pic-ct {
    display: block;
    margin: 20px 0
}

.discrib .pic-ct img {
    display: block;
    width: 100%
}

.footer.pano-img-player,.wechat-mask {
    display: none
}

.discrib .btn-getmore {
    font-weight: 700;
    padding: 6px 21px
}

.discrib.pano-img-player {
    position: absolute;
    bottom: 45px;
    left: 0;
    padding: 25px 15px 8px;
    width: 100%;
    background-image: url(/public/images/common/liner-background.png);
    background-repeat: repeat-x;
    background-size: 1px 100%
}

.discrib.pano-img-player .title {
    color: #fff;
    margin: 0 100px 8px 0;
    font-size: 16px
}

.discrib.pano-img-player .create-time {
    color: #fff;
    font-size: 14px
}

.discrib.pano-img-player .intro-ct {
    position: relative;
    margin-bottom: 0
}

.discrib.pano-img-player .intro-ct .intro-desc-ct {
    width: 66%;
    max-height: 45px;
    overflow-y: auto;
    margin-bottom: 5px
}

.discrib.pano-img-player .intro-ct .intro-desc-ct .intro-desc {
    color: #fff
}

.intro-ct {
    margin: 20px 16px
}

.intro-ct .intro-desc-ct {
    font-size: 14px;
    color: #2d2d2d;
    max-height: 66px;
    overflow: hidden
}

.intro-ct .intro-desc-ct .intro-desc {
    font-size: 14px;
    color: #4D4D4D;
    letter-spacing: 0;
    line-height: 22.89px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0
}

.intro-ct .btn-show-all {
    display: none;
    font-size: 12px;
    float: right;
    background-color: #F4F4F4;
    color: #9b9b9b;
    border-radius: 2px;
    padding-left: 7px;
    margin-top: 5px;
    cursor: pointer
}

.intro-ct .btn-show-all img {
    height: 24px;
    vertical-align: bottom
}

.footer .container {
    width: auto;
    margin: 0 24px;
    padding: 14px 0 0;
    border-top: solid 1px #EEE;
    box-sizing: border-box
}

.footer .container .left {
    width: 75%;
    float: left;
    font-size: 12px;
    color: #b0b0b0
}

.footer .container .left .icp {
    margin: 0 0 10px;
    line-height: 20px
}

.footer .container .left .recode {
    margin-bottom: 30px
}

.footer .container .left .recode a {
    padding-right: 18px;
    font-size: 12px;
    color: #7b7b7b;
    text-decoration: none
}

.footer .container .left .recode a:last-child {
    padding-right: 0
}

.footer .container .right {
    float: right
}

.footer .container .right .made-logo {
    width: 33px;
    height: 34px;
    margin-right: 12px;
    vertical-align: middle
}

.wechat-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11000;
    background: #FAFAFA
}

.wechat-mask img {
    width: 100%
}

.panovr-player {
    width: 100%;
    height: 280px
}

.panovr-player.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100
}

@media (min-width:900px) {
    .panovr-player.full-screen {
        position: absolute!important
    }
}

.panovr-player.pano-img-player {
    height: 100%
}

.video-bottom-ct {
    background-color: #F7F7F7;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    padding: 0 16px;
    overflow: auto;
    z-index: 1112;
    color: #858585;
    border-bottom: solid 1px #F1F1F1
}

.video-bottom-ct .iconfont {
    font-size: 19px;
    vertical-align: bottom
}

.video-bottom-ct .widgets {
    margin: 10px 0
}

.video-bottom-ct .widgets:after,.video-bottom-ct .widgets:before {
    content: " ";
    display: table
}

.video-bottom-ct .widgets .col {
    width: 33.33333%;
    float: left;
    text-align: center;
    color: #858585;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    overflow: hidden
}

.video-bottom-ct .widgets .right-border {
    position: relative
}

.video-bottom-ct .widgets .right-border:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    height: 18px;
    width: 1px;
    background-color: #e2e2e2
}

.video-bottom-ct .widgets .likes {
    border-radius: 19px;
    border: 1px solid #eaeaea;
    background: rgba(255,255,255,.1);
    line-height: 26px
}

.video-bottom-ct .widgets .likes .iconfont {
    line-height: 27px
}

.video-bottom-ct .widgets .likes .fill {
    /*color: #ffd200;*/
    color: rgba(249, 10, 4, 0.87);
    display: none
}

.video-bottom-ct .widgets .likes.lighted {
    border-color: rgba(249, 10, 4, 0.87);
}

.video-bottom-ct .widgets .likes.lighted .fill {
    display: inline
}

.video-bottom-ct .widgets .likes.lighted .empty {
    display: none
}

.video-bottom-ct .widgets .likes.animate {
    -webkit-animation: swing .25s ease;
    animation: swing .25s ease
}

.qrcode-btn {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer
}

.nano-tip {
    position: fixed
}

.intro-android-tips-ct {
    display: none;
    padding: 20px 16px;
    border-bottom: 1px solid #F1F1F1
}

.intro-android-tips-ct p {
    font-size: 12px;
    color: #2D2D2D;
    line-height: 18px;
    margin-bottom: 10px
}

.intro-android-tips-ct .button-block {
    margin: 0
}