html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#superContainer {
  -ms-touch-action: none;
  height: 100%;
  position: relative;
  touch-action: none;
}

.fp-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.fp-slide {
  display: block;
  float: left;
  height: 100%;
}

.fp-slidesContainer {
  display: block;
  float: left;
  height: 100%;
  position: relative;
}

.fp-slides {
  -webkit-transition: all 0.3s ease-out;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.fp-section.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.fp-controlArrow {
  border-style: solid;
  cursor: pointer;
  height: 0;
  margin-top: -38px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 4;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #ffffff transparent transparent;
  border-width: 38.5px 34px 38.5px 0;
  left: 15px;
  width: 0;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #ffffff;
  border-width: 38.5px 0 38.5px 34px;
  right: 15px;
}

.fp-scrollable {
  overflow: scroll;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  margin-top: -32px;
  opacity: 1;
  position: fixed;
  top: 50%;
  z-index: 100;
}

#fp-nav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li {
  display: block;
  height: 13px;
  margin: 7px;
  position: relative;
  width: 14px;
}

#fp-nav ul li a {
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

#fp-nav ul li a span {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid #000000;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 8px;
  z-index: 1;
}

#fp-nav ul li a.active span {
  background: #333333;
}

#fp-nav ul li .fp-tooltip {
  color: #ffffff;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  max-width: 220px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 0;
}

#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  width: auto;
}

#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  left: 50%;
  opacity: 1;
  position: absolute;
  z-index: 4;
}

.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

.fp-slidesNav ul li {
  display: block;
  display: inline-block;
  height: 13px;
  margin: 7px;
  position: relative;
  width: 14px;
}

.fp-slidesNav ul li a {
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

.fp-slidesNav ul li a span {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid #000000;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 8px;
  z-index: 1;
}

.fp-slidesNav ul li a.active span {
  background: #333333;
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}