/* line 2, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
body * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 8, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
body #fp-nav {
  display: none;
}
@media screen and (min-width: 980px) {
  /* line 11, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  body #fp-nav {
    display: block;
  }
}
/* line 16, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
body #fp-nav li a span {
  background: #363333;
  border: none;
}
/* line 22, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
body #fp-nav li a.active span {
  background: #ffffff;
}
/* line 31, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, Heiti SC, "微软雅黑", '华文细黑', STHeiti, MingLiu;
}
/* line 38, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.spinner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 45, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.spinner.active {
  display: none;
}
/* line 50, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container1 > div,
.container2 > div,
.container3 > div {
  width: 6px;
  height: 6px;
  background-color: #da2f19;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 63, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 69, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container2 {
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
}
/* line 74, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container3 {
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
      transform: rotateZ(90deg);
}
/* line 79, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.circle1 {
  top: 0;
  left: 0;
}
/* line 80, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.circle2 {
  top: 0;
  right: 0;
}
/* line 81, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.circle3 {
  right: 0;
  bottom: 0;
}
/* line 82, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.circle4 {
  left: 0;
  bottom: 0;
}
/* line 84, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 89, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
/* line 94, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 99, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
/* line 104, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
/* line 109, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
/* line 114, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
/* line 119, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
/* line 124, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
/* line 129, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
/* line 134, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  /* line 140, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  /* line 141, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  /* line 145, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  /* line 148, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 155, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
.clearfix {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 162, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav {
  width: 100%;
  background: #fff;
  position: fixed;
  top: -60px;
  height: 60px;
  line-height: 60px;
  z-index: 99;
  border-bottom: 1px solid #e5e5e5;
  /* ------------------------------------------
      NAVIGATION STYLES
      (+ responsive-nav.css file is loaded in the <head>)
      --------------------------------------------- */
  /* --------------------
      NAV TOGGLE STYLES
      ---------------------- */
}
/* line 173, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav.c-bg {
  background: #000;
}
/* line 176, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav.white {
  background: #fff;
}
/* line 180, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse.c-bg {
  background: #000;
}
@media screen and (min-width: 640px) {
  /* line 186, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav.c-bg {
    background: none;
  }
}
/* line 197, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse,
#unityvc-nav .nav-collapse * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 204, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse,
#unityvc-nav .nav-collapse ul {
  list-style: none;
}
/* line 207, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse:after,
#unityvc-nav .nav-collapse ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 211, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse ul {
  float: right;
}
/* line 215, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse li {
  float: left;
}
/* line 219, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-collapse a {
  text-decoration: none;
  color: #000;
  float: left;
}
@font-face {
  font-family: "responsivenav";
  src: url("http://www.unityvc.com/static/frontend/font/responsivenav.eot");
  src: url("http://www.unityvc.com/static/frontend/font/responsivenav.eot?#iefix") format("embedded-opentype"), url("http://www.unityvc.com/static/frontend/font/responsivenav.ttf") format("truetype"), url("http://www.unityvc.com/static/frontend/font/responsivenav.woff") format("woff"), url("http://www.unityvc.com/static/frontend/font/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 240, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 60px;
  float: right;
  background: #da2f19;
}
/* line 259, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-toggle:before {
  color: #fff;
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 279, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-toggle.active {
  background: none;
}
/* line 282, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .nav-toggle.active::before {
  font-size: 24px;
  content: "x";
}
/* line 287, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header {
  position: relative;
}
/* line 289, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 292, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header .logo {
  width: 180px;
  height: 20px;
  background: url("../images/logo.jpg") no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 10px;
  top: 20px;
}
/* line 300, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header .logo:hover {
  cursor: pointer;
}
/* line 308, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header.white {
  background: #fff;
}
/* line 314, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#unityvc-nav .header .menuWeb li.active a {
  color: #ff1a00;
}
@media screen and (min-width: 1170px) {
  /* line 322, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header {
    width: 1000px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  /* line 329, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header {
    width: 100%;
    height: 40px;
    background: #fff;
  }
  /* line 335, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .logo {
    width: 160px;
    height: 16px;
    left: 10px;
    top: 14px;
  }
  /* line 341, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-toggle {
    width: 60px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    background: #da2f19;
  }
  /* line 349, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-toggle:before {
    line-height: 40px;
  }
  /* line 352, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-toggle.active {
    background: #000;
  }
  /* line 354, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-toggle.active:before {
    color: #fff;
    font-size: 28px;
    content: "≡";
  }
  /* line 362, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse {
    color: #000000;
    border-bottom: none;
    top: 40px;
  }
  /* line 367, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse.c-bg {
    background: #fff;
  }
  /* line 370, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  /* line 374, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse .menuMoble {
    display: block;
    background: #000;
  }
  /* line 378, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse .menuMoble li a {
    display: block;
    width: 100%;
  }
  /* line 385, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul {
    width: 100%;
    float: left;
  }
  /* line 386, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul.menuWeb {
    display: none;
  }
  /* line 393, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    line-height: 50px;
  }
  /* line 398, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul li a {
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
  }
}
@media screen and (min-width: 641px) {
  /* line 410, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse {
    color: #000000;
    float: right;
  }
  /* line 415, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul.menuMoble {
    display: none;
  }
  /* line 419, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul li {
    padding: 0 15px;
    float: right;
  }
  /* line 422, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav .header .nav-collapse ul li:first-child {
    padding-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  /* line 431, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #unityvc-nav {
    height: 40px;
  }
}
/* line 437, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .section {
  overflow: hidden;
}
/* line 440, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .section .fp-tableCell {
  position: relative;
  text-align: center;
}
/* line 443, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .section .fp-tableCell > div {
  position: absolute;
}
/* line 445, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .section .fp-tableCell > div img {
  width: 100%;
}
/* line 457, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .founding-teambtn,
#home-warrper .second .founding-teambtn,
#home-warrper .third .founding-teambtn,
#home-warrper .fourth .founding-teambtn,
#home-warrper .first .checkMore,
#home-warrper .second .checkMore,
#home-warrper .third .checkMore,
#home-warrper .fourth .checkMore {
  position: absolute;
  display: block;
  text-decoration: none;
  width: 120px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  color: #fff;
  background: #000;
  left: 50%;
  top: 92.2%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 473, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .founding-teambtn:hover,
#home-warrper .second .founding-teambtn:hover,
#home-warrper .third .founding-teambtn:hover,
#home-warrper .fourth .founding-teambtn:hover,
#home-warrper .first .checkMore:hover,
#home-warrper .second .checkMore:hover,
#home-warrper .third .checkMore:hover,
#home-warrper .fourth .checkMore:hover {
  cursor: pointer;
}
/* line 479, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first {
  background: url("../images/first-bg.jpg") no-repeat center top;
  background-size: cover;
  color: #fff;
}
/* line 484, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .mian-logo {
  width: 115px;
  top: 10.7%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 490, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .titles {
  text-align: center;
  width: 100%;
  top: 44.2%;
}
/* line 494, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .titles span {
  font-size: 40px;
  letter-spacing: 4px;
}
/* line 497, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .titles span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
/* line 501, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .titles span:last-child {
  font-weight: normal;
}
/* line 507, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .company-name {
  width: 8.0%;
  height: auto;
  top: 52.3%;
  left: 46.0%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
}
/* line 516, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .sub-title {
  width: 100%;
  top: 62.4%;
}
/* line 521, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .first .bref {
  position: absolute;
  width: 40%;
  top: 67.6%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  line-height: 26px;
  font-size: 14px;
  text-align: left;
  text-align: justify;
}
/* line 534, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second {
  background: url("../images/second-bg.jpg") no-repeat center top;
  background-size: cover;
}
/* line 538, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .founder {
  position: absolute;
  width: 100%;
  top: 17.5%;
  font-size: 36px;
  letter-spacing: 4px;
}
/* line 545, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .founder:after {
  content: "";
  width: 80px;
  height: 2px;
  border-top: 1px solid #da3419;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 557, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .brief {
  width: 54%;
  top: 25.3%;
  line-height: 24px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  line-height: 26px;
  font-size: 14px;
  text-align: left;
}
/* line 566, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .brief p {
  margin-bottom: 10px;
  text-align: justify;
}
/* line 574, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .team {
  width: 110px;
  height: auto;
  left: 50%;
  top: 59.3%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 581, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .second .team span {
  display: block;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  margin-top: 10px;
}
/* line 593, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third {
  background: url("../images/third-bg.jpg") repeat center top;
}
/* line 596, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .project {
  position: absolute;
  width: 100%;
  top: 17.5%;
  font-size: 36px;
  letter-spacing: 4px;
}
/* line 603, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .project:after {
  content: "";
  width: 80px;
  height: 2px;
  border-top: 1px solid #da3419;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 616, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo {
  top: 29.6%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  height: 60%;
  overflow: hidden;
}
/* line 623, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container {
  width: 1000px;
}
/* line 627, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content {
  width: 1020px;
  margin-left: 10px;
}
/* line 631, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 635, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content .logo-list {
  width: 230px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: top 1s ease, left 1s ease;
  transition: top 1s ease, left 1s ease;
}
/* line 645, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content .logo-list:nth-child(4n) {
  margin-right: 0;
}
/* line 651, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content .logo-list img.color-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate3d(0, 120%, 0);
          transform: translate3d(0, 120%, 0);
}
/* line 663, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .third .companylogo .container .list-content .logo-list:hover img.color-logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}
/* line 676, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth {
  background: url("../images/fourth-bg.jpg") repeat center top;
}
/* line 678, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news {
  position: absolute;
  width: 100%;
  top: 17.5%;
  color: #FFF;
  font-size: 36px;
  letter-spacing: 4px;
}
/* line 686, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news:after {
  content: "";
  width: 80px;
  height: 2px;
  border-top: 1px solid #da3419;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 699, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content {
  width: 810px;
  left: 50%;
  top: 32.4%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 707, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 711, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items {
  width: 240px;
  height: 190px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
/* line 720, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items:hover {
  cursor: pointer;
}
/* line 722, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items:hover .detail {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}
/* line 729, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .title span {
  display: block;
  text-align: left;
}
/* line 733, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .title span:first-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}
/* line 738, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .title span:last-child {
  font-size: 14px;
  color: #000;
  line-height: 15px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* line 754, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .default {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 759, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .default .title {
  width: 100%;
  height: 50px;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
}
/* line 769, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .default .title span {
  padding-left: 10px;
}
/* line 775, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate3d(0, 120%, 0);
          transform: translate3d(0, 120%, 0);
}
/* line 786, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail a {
  text-decoration: none;
  color: #fff;
}
/* line 790, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail .title {
  padding: 15px 10px 10px;
}
/* line 792, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail .title span {
  color: #fff;
}
/* line 794, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail .brief {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* line 806, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .news-content .items .detail .check-detail {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  width: 74px;
  height: 22px;
  line-height: 22px;
  float: right;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
/* line 829, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fourth .checkMore {
  background: #fff;
  color: #000;
}
/* line 836, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contact {
  position: absolute;
  width: 100%;
  top: 17.5%;
  color: #000;
  font-size: 36px;
  letter-spacing: 4px;
}
/* line 843, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contact:after {
  content: "";
  width: 80px;
  height: 2px;
  border-top: 1px solid #da3419;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 856, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .webmap {
  width: 100%;
  height: 200px;
  top: 24.4%;
  background: url("../images/web-map.jpg") no-repeat center center;
  background-size: cover;
}
/* line 863, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .webmap > a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 870, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contactmy {
  width: 100%;
  text-align: center;
  top: 55.5%;
}
/* line 874, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contactmy span {
  font-size: 14px;
  font-weight: lighter;
  color: #555;
}
/* line 878, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contactmy span:first-child {
  padding-right: 15px;
}
/* line 881, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contactmy span:last-child {
  padding-left: 15px;
}
/* line 887, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .qrcode {
  width: 100%;
  left: 50%;
  top: 58%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 892, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .qrcode .img {
  width: 100px;
  height: 100px;
  background: url("../images/qrcode.jpg") no-repeat center top;
  background-size: cover;
  margin: 30px auto 20px;
}
/* line 900, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .qrcode > span {
  font-size: 12px;
  color: #000;
  text-align: center;
}
/* line 904, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .qrcode > span:after {
  content: "";
  width: 40px;
  height: 2px;
  border-top: 2px solid #da2f19;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 918, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .address {
  width: 100%;
  text-align: center;
  color: #555;
  font-weight: bold;
  top: 85.4%;
}
/* line 925, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .address h1 {
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 929, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .address p {
  font-size: 13px;
  line-height: 24px;
  font-weight: lighter;
}
/* line 936, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contact-bg {
  width: 31.7%;
  right: 0;
  bottom: 0;
}
/* line 940, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
#home-warrper .fifth .contact-bg img {
  width: 100%;
}
@media screen and (max-width: 1400px) {
  /* line 950, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    width: 60%;
  }
  /* line 953, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    width: 100px;
    top: 58%;
  }
  /* line 956, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team span {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 964, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .companylogo {
    height: 480px;
    overflow: hidden;
  }
  /* line 970, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .bref {
    width: 60%;
  }
  /* line 976, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    top: 58%;
  }
  /* line 980, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    width: 74%;
    padding: 0 5%;
  }
}
@media screen and (max-width: 1169px) {
  /* line 992, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .mian-logo {
    width: 110px;
    top: 9.7%;
  }
  /* line 1000, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    width: 100px;
  }
  /* line 1003, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team .name {
    margin-top: 0;
  }
  /* line 1009, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo {
    width: 100%;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    height: 60%;
  }
  /* line 1015, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo .container {
    width: 100%;
  }
  /* line 1018, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo .container .list-content {
    width: 100%;
    margin: 0 auto;
  }
  /* line 1022, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo .container .list-content .items {
    margin-right: 30px;
  }
  /* line 1033, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy {
    top: 58.5%;
  }
  /* line 1037, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode {
    top: 61%;
  }
  /* line 1039, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode .img {
    margin: 20px auto 10px;
  }
  /* line 1044, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address {
    top: 87.4%;
  }
  /* line 1046, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 969px) {
  /* line 1061, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .founding-teambtn,
  #home-warrper .second .founding-teambtn,
  #home-warrper .third .founding-teambtn,
  #home-warrper .fourth .founding-teambtn,
  #home-warrper .first .checkMore,
  #home-warrper .second .checkMore,
  #home-warrper .third .checkMore,
  #home-warrper .fourth .checkMore {
    top: 92.2%;
  }
  /* line 1067, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .bref {
    width: 75%;
  }
  /* line 1073, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    width: 90%;
    padding: 0;
  }
  /* line 1080, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content {
    width: 100%;
  }
  /* line 1083, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist {
    width: 100%;
  }
  /* line 1085, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items {
    width: 31%;
    float: left;
    margin: 0 1% 10px;
  }
}
@media screen and (max-width: 780px) {
  /* line 1099, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    width: 90%;
    padding: 0 5%;
    line-height: 22px;
  }
  /* line 1104, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    top: 60%;
  }
}
@media screen and (max-width: 640px) {
  /* line 1111, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first {
    background: url("../images/first-bgm.jpg") no-repeat center top;
    background-size: cover;
  }
  /* line 1115, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .mian-logo {
    width: 15%;
    top: 9.0%;
  }
  /* line 1119, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .titles {
    top: 38.2%;
  }
  /* line 1121, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .titles span {
    font-size: 25px;
  }
  /* line 1125, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .company-name {
    width: 26.8%;
    left: 36.4%;
    top: 48.3%;
  }
  /* line 1130, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .sub-title {
    padding: 0 15px;
    font-size: 16px;
  }
  /* line 1134, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .bref {
    width: 96%;
    padding: 0 2%;
    font-size: 12px;
    line-height: 20px;
  }
  /* line 1142, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second {
    background: url("../images/second-bgm.jpg") no-repeat center top;
    background-size: cover;
  }
  /* line 1146, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder {
    font-size: 32px;
    font-weight: bold;
    top: 13.8%;
  }
  /* line 1152, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    width: 100%;
    text-align: center;
    top: 24.0%;
    font-size: 13px;
  }
  /* line 1159, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .web-brief {
    display: none;
  }
  /* line 1163, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .mobile-brief {
    width: 94%;
    padding: 0 3%;
    font-size: 13px;
    line-height: 22px;
    text-align: left;
  }
  /* line 1170, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    width: 70px;
    top: 70%;
  }
  /* line 1177, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founding-teambtn {
    width: 94%;
    top: 92.0%;
    height: 40px;
    line-height: 40px;
  }
  /* line 1186, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third {
    background: url("../images/third-bgm.jpg") repeat center top;
  }
  /* line 1190, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .project {
    font-size: 32px;
    font-weight: bold;
    top: 11.8%;
  }
  /* line 1196, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo {
    top: 22.6%;
    height: 65%;
    overflow: hidden;
    margin-left: 4px;
  }
  /* line 1206, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo .container .list-content .color-logo {
    display: none;
  }
  /* line 1212, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .checkMore {
    width: 94%;
    top: 92.0%;
    height: 40px;
    line-height: 40px;
  }
  /* line 1221, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth {
    background: url("../images/fourth-bgm.jpg") repeat center top;
  }
  /* line 1224, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news {
    top: 11.8%;
  }
  /* line 1228, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content {
    width: 100%;
    top: 25.6%;
    height: 68%;
    overflow: hidden;
  }
  /* line 1234, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist {
    width: 100%;
  }
  /* line 1240, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items .detail {
    display: none;
  }
  /* line 1250, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contact {
    top: 11.8%;
  }
  /* line 1255, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address h1 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  /* line 1259, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address p {
    font-size: 12px;
  }
  /* line 1263, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .webmap {
    top: 22.5%;
    height: 150px;
    background: url("../images/mobile-map.jpg") no-repeat center center;
    background-size: cover;
  }
  /* line 1270, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy {
    top: 51.4%;
  }
  /* line 1272, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy span {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 18px;
  }
  /* line 1278, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy span:first-child,
  #home-warrper .fifth .contactmy span:last-child {
    padding-left: 0;
  }
  /* line 1285, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode {
    top: 60.2%;
  }
  /* line 1287, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode .img {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
  }
  /* line 1293, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode > span:after {
    bottom: -15px;
  }
}
@media screen and (max-width: 490px) {
  /* line 1303, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .mian-logo {
    width: 25%;
  }
  /* line 1311, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content {
    width: 100%;
  }
  /* line 1314, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist {
    width: 100%;
  }
  /* line 1316, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items {
    width: 46%;
    margin: 0 2% 10px;
    height: 120px;
  }
  /* line 1321, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items .title {
    height: 24px;
    line-height: 24px;
  }
  /* line 1324, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items .title .time {
    display: none;
  }
  /* line 1327, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fourth .news-content .newslist .items .title .name {
    font-size: 12px;
  }
  /* line 1345, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .third .companylogo .container .list-content .logo-list {
    margin-right: 0;
  }
  /* line 1354, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy {
    top: 53.4%;
  }
  /* line 1357, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode {
    top: 60.2%;
  }
  /* line 1360, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contact-bg {
    right: 3.5%;
  }
}
@media screen and (max-width: 320px) {
  /* line 1370, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contact {
    top: 11.5%;
  }
  /* line 1374, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .webmap {
    height: 110px;
    top: 23.5%;
  }
  /* line 1379, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy {
    top: 49.4%;
  }
  /* line 1382, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .team {
    top: 68%;
  }
}
@media (max-height: 560px) {
  /* line 1390, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    display: none;
  }
  #home-warrper .second  .mobile-brief.brief{
    top: 28%;
  }
}
@media (max-height: 780px) {
  /* line 1390, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team span{
    line-height: 18px;
  }
}
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  /* line 1401, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder,
  #home-warrper .third .founder,
  #home-warrper .fourth .founder,
  #home-warrper .fifth .founder,
  #home-warrper .second .project,
  #home-warrper .third .project,
  #home-warrper .fourth .project,
  #home-warrper .fifth .project,
  #home-warrper .second .news,
  #home-warrper .third .news,
  #home-warrper .fourth .news,
  #home-warrper .fifth .news,
  #home-warrper .second .contact,
  #home-warrper .third .contact,
  #home-warrper .fourth .contact,
  #home-warrper .fifth .contact {
    font-size: 24px;
    top: 9.2%;
  }
  /* line 1408, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder:after,
  #home-warrper .third .founder:after,
  #home-warrper .fourth .founder:after,
  #home-warrper .fifth .founder:after,
  #home-warrper .second .project:after,
  #home-warrper .third .project:after,
  #home-warrper .fourth .project:after,
  #home-warrper .fifth .project:after,
  #home-warrper .second .news:after,
  #home-warrper .third .news:after,
  #home-warrper .fourth .news:after,
  #home-warrper .fifth .news:after,
  #home-warrper .second .contact:after,
  #home-warrper .third .contact:after,
  #home-warrper .fourth .contact:after,
  #home-warrper .fifth .contact:after {
    bottom: -5px;
  }
  /* line 1415, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder {
    font-size: 24px;
    top: 10.8%;
  }
  /* line 1419, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    top: 18%;
    font-size: 12px;
    line-height: 18px;
  }
  /* line 1425, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team {
    top: 64%;
    width: 70px;
  }
  /* line 1430, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .team span {
    margin-top: 5px;
    line-height: 24px;
  }
  /* line 1438, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .webmap {
    top: 20.5%;
    height: 120px;
  }
  /* line 1442, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy {
    top: 48.5%;
    font-weight: normal;
  }
  /* line 1445, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .contactmy span {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  /* line 1454, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode {
    top: 56.5%;
  }
  /* line 1456, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode .img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  /* line 1463, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .qrcode > span:after {
    bottom: -20px;
    display: none;
  }
  /* line 1470, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address {
    top: 81.4%;
  }
  /* line 1472, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address h1 {
    margin-bottom: 10px;
  }
  /* line 1475, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .fifth .address p {
    line-height: 20px;
  }
}
@media screen and (min-width: 375px) {
  /* line 1488, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder,
  #home-warrper .third .founder,
  #home-warrper .fourth .founder,
  #home-warrper .fifth .founder,
  #home-warrper .second .project,
  #home-warrper .third .project,
  #home-warrper .fourth .project,
  #home-warrper .fifth .project,
  #home-warrper .second .news,
  #home-warrper .third .news,
  #home-warrper .fourth .news,
  #home-warrper .fifth .news,
  #home-warrper .second .contact,
  #home-warrper .third .contact,
  #home-warrper .fourth .contact,
  #home-warrper .fifth .contact {
    top: 10.4%;
  }
  /* line 1496, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .founder {
    top: 11.8%;
  }
  /* line 1500, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .brief {
    font-size: 14px;
    top: 21%;
  }
}
@media screen and (min-width: 641px) {
  /* line 1516, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .mobile-brief {
    display: none;
    padding: 0 10px;
  }
  /* line 1519, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .second .mobile-brief p {
    font-size: 13px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1170px) and (-webkit-device-pixel-ratio: 2) {
  /* line 1533, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .founding-teambtn,
  #home-warrper .second .founding-teambtn,
  #home-warrper .third .founding-teambtn,
  #home-warrper .fourth .founding-teambtn,
  #home-warrper .first .checkMore,
  #home-warrper .second .checkMore,
  #home-warrper .third .checkMore,
  #home-warrper .fourth .checkMore {
    top: 92.2%;
  }
  /* line 1539, /Users/liyi/Documents/project/unityvc/src/styles/home.less */
  #home-warrper .first .mian-logo {
    top: 11.5%;
  }
}
