/* line 1, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.clearfix {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 7, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background: url("../images/third-bgm.jpg") repeat center top;
}
/* line 15, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
/* line 19, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 24, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left {
  float: left;
  width: 175px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  position: fixed;
}
/* line 33, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left h1 {
  position: relative;
  margin: 55px 0 60px;
}
/* line 37, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left h1:after {
  content: "";
  height: 1px ;
  width: 80px;
  border-bottom: 1px solid #ff1a00;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}
/* line 49, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul {
  width: 80px;
  margin: 0 auto;
}
/* line 53, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 57, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul li {
  display: inline-block;
  width: 68px;
  line-height: 28px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 10px 5px;
}
/* line 68, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
/* line 73, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul li:hover,
.news-warrper .menu-left ul li.active {
  background: #ff1a00;
  cursor: pointer;
  border: none;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
/* line 82, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .menu-left ul li:hover a,
.news-warrper .menu-left ul li.active a {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  /* line 91, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .menu-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* line 95, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .menu-left ul li {
    margin: 0 auto 15px;
    display: block;
    float: none;
  }
}
/* line 106, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content {
  float: right;
  width: 810px;
  padding-top: 40px;
}
/* line 111, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .newslis {
  margin-left: 15px;
}
/* line 116, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items {
  width: 240px;
  height: 180px;
  marggin-bottom: 20px;
  background: #ff8080;
  position: relative;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
/* line 126, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items a {
  text-decoration: none;
  color: #fff;
}
/* line 130, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items:hover {
  cursor: pointer;
}
/* line 132, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items:hover .detail {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}
/* line 139, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .title span {
  display: block;
  text-align: left;
}
/* line 143, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .title span:first-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}
/* line 148, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .title span:last-child {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
/* line 158, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .default {
  position: relative;
  width: 100%;
  height: 180px;
}
/* line 162, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .default img {
  width: 100%;
}
/* line 165, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .default .title {
  width: 100%;
  padding: 4px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 5px 0;
}
/* line 174, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .default .title span {
  padding-left: 10px;
}
/* line 180, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .detail {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate3d(0, 120%, 0);
          transform: translate3d(0, 120%, 0);
}
/* line 192, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .detail .title {
  padding: 15px 10px 10px;
}
/* line 194, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .detail .title span {
  color: #fff;
}
/* line 196, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .detail .brief {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* line 208, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.news-warrper .news-content .items .detail .check-detail {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  width: 74px;
  height: 22px;
  line-height: 22px;
  float: right;
  margin: 4px 10px 0 0;
}
@media screen and (max-width: 1170px) {
  /* line 227, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container {
    width: 100%;
  }
  /* line 230, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content {
    width: 78%;
  }
  /* line 234, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content .newslist .items {
    width: 30%;
    margin: 0 1% 15px;
  }
}
@media screen and (max-width: 970px) {
  /* line 246, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content {
    width: 75%;
  }
  /* line 250, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content .newslist .items {
    width: 42%;
    margin: 0px 3% 15px;
  }
}
@media screen and (max-width: 750px) {
  /* line 262, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content {
    width: 70%;
  }
  /* line 266, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content .newslist .items {
    margin: 0px 3%;
  }
}
@media screen and (max-width: 640px) {
  /* line 274, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper {
    padding-top: 40px;
  }
  /* line 277, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .menu-left {
    width: 37.4%;
  }
  /* line 281, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content {
    width: 60%;
    padding-top: 10px;
  }
  /* line 286, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content .newslist .items {
    width: 95%;
    margin: 0px 0 20px;
  }
  /* line 290, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .news-warrper .container .news-content .newslist .items .detail {
    display: none;
  }
}
/* line 304, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container {
  margin: 0 auto;
  padding-top: 130px;
}
/* line 309, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container > h1 {
  text-align: center;
  margin-bottom: 55px;
  letter-spacing: 2px;
  font-size: 34px;
  position: relative;
}
/* line 315, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container > h1:after {
  content: "";
  height: 1px;
  width: 80px;
  border-bottom: 1px solid #ff1a00;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 332, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper #container {
  margin: 0 auto;
  padding-top: 130px;
}
/* line 337, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper #container > h1 {
  text-align: center;
  margin-bottom: 55px;
  letter-spacing: 2px;
  font-size: 34px;
  position: relative;
}
/* line 343, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper #container > h1:after {
  content: "";
  height: 1px;
  width: 80px;
  border-bottom: 1px solid #ff1a00;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 361, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper {
  position: relative;
}
/* line 365, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .team-top,
.team-warrper .team-bottom {
  position: absolute;
}
/* line 368, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .team-top img,
.team-warrper .team-bottom img {
  width: 100%;
}
/* line 373, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .team-top {
  width: 40%;
  top: 0;
  right: 0;
}
/* line 379, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .team-bottom {
  width: 28%;
  left: 0;
  bottom: 0;
}
/* line 386, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container {
  width: 880px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 20px;
}
/* line 391, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container > h1 {
  text-align: center;
  margin-bottom: 55px;
  letter-spacing: 2px;
  font-size: 34px;
  position: relative;
}
/* line 397, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container > h1:after {
  content: "";
  height: 1px ;
  width: 80px;
  border-bottom: 1px solid #ff1a00;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 410, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item {
  padding-left: 240px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 416, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item:last-child {
  margin-bottom: 0;
}
/* line 420, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 424, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item:hover .right {
  background: #da3419;
  color: #fff;
  cursor: pointer;
}
/* line 431, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .logo {
  width: 240px;
  height: 200px;
  float: left;
  position: absolute;
  -webkit-transition: top 1s ease, left 1s ease;
  transition: top 1s ease, left 1s ease;
  left: 0;
}
/* line 438, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .logo img {
  width: 100%;
}
/* line 442, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .right {
  height: 100%;
  padding-left: 6.25%;
  padding-right: 25%;
  background: #e0e0e0;
  overflow: hidden;
}
/* line 448, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .right h1 {
  margin: 30px 0 20px;
  font-weight: bold;
}
/* line 452, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .right .biref {
  font-size: 14px;
  line-height: 20px;
}
/* line 456, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .right .mlogo {
  display: none;
  width: 160px;
}
/* line 460, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item .right .mlogo img {
  width: 100%;
}
/* line 466, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item > .bg {
  position: absolute;
  right: 1px;
  bottom: -1px;
  width: 15%;
}
/* line 471, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.team-warrper .container .content .list-item > .bg img {
  width: 100%;
}
@media screen and (max-width: 970px) {
  /* line 482, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container {
    width: 100%;
  }
  /* line 488, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item > .bg {
    width: 14%;
  }
}
@media screen and (max-width: 750px) {
  /* line 499, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container {
    width: 100%;
  }
  /* line 505, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item > .bg {
    width: 10%;
  }
  /* line 509, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item .right {
    padding-right: 22%;
  }
}
@media screen and (max-width: 640px) {
  /* line 520, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container {
    width: 100%;
    padding-top: 21.5%;
  }
  /* line 523, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container h1 {
    font-size: 24px;
  }
  /* line 527, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content {
    padding: 0 15px;
  }
  /* line 530, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item {
    padding-left: 23.5%;
    height: auto;
    overflow: inherit;
  }
  /* line 534, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item .logo {
    display: none;
  }
  /* line 536, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item > .bg {
    width: 10%;
  }
  /* line 540, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item .right {
    position: relative;
    padding-bottom: 35px;
    padding: 15px 4% 25px 15.25%;
    overflow: inherit;
  }
  /* line 547, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item .right h1 {
    margin: 12px 0 20px;
  }
  /* line 550, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .team-warrper .container .content .list-item .right .mlogo {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 32.2%;
    -webkit-transform: translate3d(-84%, 0, 0);
            transform: translate3d(-84%, 0, 0);
  }
}
/* line 568, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper #container {
  overflow: hidden;
}
/* line 573, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container {
  padding-top: 0;
  position: relative;
}
/* line 578, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content {
  width: 10px;
}
/* line 580, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
/* line 584, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content .logo-list {
  width: 230px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: top 1s ease, left 1s ease;
  transition: top 1s ease, left 1s ease;
}
/* line 596, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content .logo-list img {
  width: 100%;
}
/* line 599, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content .logo-list:nth-child(4n) {
  margin-right: 0;
}
/* line 603, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content .logo-list img.color-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate3d(0, 120%, 0);
          transform: translate3d(0, 120%, 0);
}
/* line 615, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
.project-warrper .companylogo .container .list-content .logo-list:hover img.color-logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}
@media screen and (min-width: 1170px) {
  /* line 629, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper .container {
    width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1700px) {
  /* line 638, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper .companylogo {
    width: 100%;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  /* line 646, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper .companylogo .container .list-content {
    width: 100%;
    margin: 0 auto;
  }
  /* line 654, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper .companylogo .container .list-content .items {
    margin-right: 30px;
  }
}
@media screen and (max-width: 640px) {
  /* line 665, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container {
    padding-top: 21.5%;
  }
  /* line 667, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container h1 {
    font-size: 24px;
  }
  /* line 671, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container .companylogo {
    top: 22.6%;
    height: 60%;
    margin-left: 1.72%;
  }
  /* line 680, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container .companylogo .container .list-content .logo-list {
    margin-right: 0;
  }
  /* line 682, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container .companylogo .container .list-content .logo-list .color-logo {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 695, /Users/liyi/Documents/project/unityvc/src/styles/list.less */
  .project-warrper #container .companylogo {
    margin-left: 1.55%;
  }
}
