/*! responsive-nav.js 1.0.39 by @viljamis */
/* line 3, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
/* line 11, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
.nav-collapse li {
  display: block;
}
/* line 16, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  zoom: 1;
}
/* line 25, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
.nav-collapse.opened {
  max-height: 9999px;
}
/* line 29, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media screen and (min-width: 40em) {
  /* line 40, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
  .js .nav-collapse {
    position: relative;
  }
  /* line 43, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
  .js .nav-collapse.closed {
    max-height: none;
  }
  /* line 46, /Users/liyi/Documents/project/unityvc/src/styles/responsive-nav.less */
  .nav-toggle {
    display: none;
  }
}
