
html{font-size:62.5%}
body{font-size:1.5em;font-weight:400;font-family:"Microsoft Yahei","Arial";color:#222;margin:0; padding: 0; overflow-y: scroll;overflow: hidden;position: static;}
a{text-decoration: none;color: #fff;}

.clearfix::after{content: " ";display: block;clear: both;height: 0;}
.clearfix{zoom:1;}
#pano{width:100%;height:100%; display: block;vertical-align: hidden;position: absolute;z-index: 10;}
.main{position: relative;width: 100%;height: 100%;top: 0;left: 0;overflow: hidden;}

/*观察模式、更多菜单*/
.viewmodel{
	position: absolute;left: 0;width: 100%;z-index: 9999;overflow: hidden;background-color: rgba(0,0,0,0.7);
	bottom: 0;opacity: 0;transition: all 1s cubic-bezier(0.19,1,.22,1);
}

.modellist,.morelist{list-style: none;color: #fff;font-size: 1.5rem;padding-left: 0;margin: 0;font-weight: normal;}
.modellist li,.morelist li{border-bottom: 1px solid #1c1c1c;line-height: 3;position: relative;padding-left:0.675rem; }
.modellist div,.morelist div{right: 1rem;display: inline-block;
	background: url(../images/ico-1.png) 48px 48px no-repeat;width: 48px;height: 48px;
	top:50%;margin-top: -16px;vertical-align: -1.5rem;margin: 0 0.3rem 0 1rem; -webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);-o-transform: scale(0.5);transform: scale(0.5);
}
.modellist li:nth-child(3){
	/*display:*/
}
.modellist li:nth-child(1) div{
	background-position: 0 0;
}
.modellist li:nth-child(2) div{
	background-position: -48px 0px;
}
.modellist li:nth-child(3) div{
	background-position: 0 -240px;
}
.modellist li:nth-child(4) div{
	background-position: 0 -48px;
}
.modellist li:nth-child(5) div{
	background-position: -48px -48px;
}
.modellist li::after,.morelist li::after{content: ' ';font-size: 1rem;position: absolute;right: 1rem;
	background: url(../images/right-ico.png) center center no-repeat;width: 27px;height: 27px;
	top:50%;margin-top: -14px;-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);-o-transform: scale(0.5);transform: scale(0.5);
}
.modellist .active,.morelist .active,.morelist .active a{color: #00afec;}
.modellist .active::after,.morelist .active::after{background: url(../images/cur-right-ico.png) center center no-repeat;}
.modellist .active div,.morelist .active div{background: url(../images/ico-2.png) 48px 48px no-repeat;}
.mask{background-color: rgba(0,0,0,0.35);position: absolute;width: 100%;height: 100%;z-index: 3500;display: none;top: 0;left: 0;}

.more{position: absolute;left: 0;width: 100%;z-index: 9999;overflow: hidden;background-color: rgba(0,0,0,0.7);bottom: 0;opacity: 0;transition: all 1s cubic-bezier(0.19,1,.22,1);}
.morelist a{display: block;}
.morelist li:nth-child(1) div{
	background-position: 0 -144px;
}
.morelist li:nth-child(2) div{
	background-position: -48px -144px;
}
.morelist li:nth-child(3) div{
	background-position: -48px -96px;
}
.morelist li:nth-child(4) div{
	background-position: 0 -96px;
}
.morelist li:nth-child(5) div{
	background-position: 0 -192px;
}
.morelist li:nth-child(6) div{
	background-position: -48px -192px;
}

/*公共号*/
.publicAccount{position: absolute;left: 0;width: 100%;z-index: 9999;overflow: hidden;background-color: #fff;bottom: 0;
	text-align: center;opacity: 0;transition: all 1s cubic-bezier(0.19,1,.22,1);}

.publicAccount img{width: 100%;}
.publicAccount .content {position: absolute;top: 50%;left: 50%;width:50%;margin: -25% 0 0 -25%;}
.publicAccount article{font-size:1.25rem;}

.exitvr{background: url(../images/webvr_exit.png) 0 0 no-repeat;background-position: 0 0;top: 50%;opacity: 0;
	width: 39px;height: 133px;position: absolute;z-index: 9999999999;right: 0;transform: translate(2px,-50%) scale(0.85);
	-webkit-transform:translate(3px,-50%) scale(0.85); transition: opacity 0.5s ease-in-out;
	-ms-transform: translate(2px,-50%) scale(0.85);-moz-transform: translate(2px,-50%) scale(0.85);
}
.exitvr.active{opacity: 1;}

.msg{
	position: absolute;display: none;
    z-index: 666;color: #fff;width: 80%;top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;word-wrap: break-word;
    left: 50%;background-color: rgba(0,0,0,0.5);
    padding: .675rem;-webkit-border-radius: .275rem;
    -moz-border-radius: .275rem;
    -ms-border-radius: .275rem;
    -o-border-radius: .275rem;
    border-radius: .275rem;
}
.msg.active{display: block;}

.userlike-showmode{
	position: absolute;z-index: 999;color: #fff;width: 100%;
	height: auto;
	top: 20px;left:0;
	vertical-align:middle
}

.userlike-showmode .userlike {
	width: auto;
	height: 100%;
	text-align: left;
	padding-left: 2rem;
	float: left;
	margin-top: 12px;
}

.userlike-showmode .showmode {
	text-align: right;
	font-size: 0.875rem;
	float: right;
	margin-right: 20px;
	top:0;
	width: auto;
}


.userlike .like{
	background: url(../images/like.png) center center no-repeat;display: inline-block;
	background-position: 0 0;
	width: 35px;height: 29px;vertical-align: middle;margin:0 2rem 0 0.25rem;
	transform: scale(0.65);-webkit-transform: scale(0.65);
	transition: all 0.8s ease-in infinite;margin-right: 0.75rem;
}

.userlike .like.active{
	transform: scale(0.85);-webkit-transform: scale(0.85);
	background-position: 0 -29px;
}

.userlike .like.active1{
	background-position: 0 -29px;
}

.share-info {
	position: absolute;
	z-index: 999;
	bottom: 18px;
	width: 100%;
	height: auto;
	color: #fff;
	font-size: 0.875rem;
}

.share-info .left{
	margin-left: 10px;
	width: 100%;
	float:left;
}

.share-info .right{
	float:right;
	margin-right: 10px;
	width: auto;
	font-size:12px;
}


/*bottom Info*/
.stage{position: relative;}
.bottomInfo{bottom: 0;z-index: 999;position: absolute;width: 100%;}
.bottomInfo .container{position: relative;}
.bottomInfo .container>img{width: 100%;vertical-align: bottom;}
.bottomInfo .close{
	position: absolute;right: 0.25rem;z-index: 1001;bottom: 0.25rem;
	transform: scale(0.6);-webkit-transform: scale(0.6);
}
.bottomInfo .close img{margin: 12px;}

.placeholder{width: 100%;}
.placeholder img{opacity: 0;width: 100%;}
.bottomInfo .portrait img,.bottomInfo .landspan img{width: 100%;vertical-align: bottom;}

.stage .details,.stage .userlike{
	transform: translateY(0);opacity: 1;
	-webkit-transform: translateY(0);
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.4s cubic-bezier(0.47, 0, 0.145, 0.655) 0s;
}
.stage .details.down,.userlike.down{
	opacity: 0;
	transform: translateY(250px);
	-webkit-transform: translateY(250px);
}


/*竖屏*/
@media all and (orientation : portrait) {
	.viewmodel{-webkit-transform: translateY(140%);
	-ms-transform: translateY(140%);
	-moz-transform: translateY(140%);
	transform: translateY(140%);}
	.viewmodel.active{-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);opacity: 1;}

	.more{-webkit-transform: translateY(140%);
	-ms-transform: translateY(140%);
	-moz-transform: translateY(140%);
	transform: translateY(140%);}
	.more.active{-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);opacity: 1;}

	.personInfo{-webkit-transform: translateY(140%);
	-ms-transform: translateY(140%);
	-moz-transform: translateY(140%);
	transform: translateY(140%);}
	.personInfo.active{-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);opacity: 1;}

	.publicAccount{-webkit-transform: translateY(140%);
	-ms-transform: translateY(140%);
	-moz-transform: translateY(140%);
	transform: translateY(140%);height: 40%;}
	.publicAccount img,.publicAccount article{width: 75%;}
	.publicAccount article{margin: 0 auto;}
	.publicAccount.active{-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);opacity: 1;}
	.placeholder .portrait,.bottomInfo .portrait{display: block;}
	.placeholder .landspan,.bottomInfo .landspan{display: none;}
	.details.right{bottom: 15.2%;}
	.video .details.left{bottom: 14.5%;}
	.video .details.right{bottom: 28%;}
	.details.adjust{bottom: 14%;}
}
/*横屏*/
@media all and (orientation : landscape) {
	.morelist{font-size: 1.5rem;}
	.morelist li{line-height: 3;}

	.viewmodel{
		right: 0;height: 100%;width:35%;
		-webkit-transform: translateX(300%);
		-ms-transform: translateX(300%);
		-moz-transform: translateX(300%);
		transform: translateX(300%);
	}
	.viewmodel.active{-webkit-transform: translateX(185.5%);
		-ms-transform: translateX(185.5%);
		-moz-transform: translateX(185.5%);
		transform: translateX(185.5%);opacity: 1;}

	.more{
		right: 0;height: 100%;width:35%;
		-webkit-transform: translateX(300%);
		-ms-transform: translateX(300%);
		-moz-transform: translateX(300%);
		transform: translateX(300%);
	}
	.more.active{-webkit-transform: translateX(185.5%);
		-ms-transform: translateX(185.5%);
		-moz-transform: translateX(185.5%);
		transform: translateX(185.5%);opacity: 1;}

	.personInfo{
		right: 0;height: 100%;width:45%;
		-webkit-transform: translateX(300%);
		-ms-transform: translateX(300%);
		-moz-transform: translateX(300%);
		transform: translateX(300%);
	}
	.personInfo.active{-webkit-transform: translateX(185.5%);
		-ms-transform: translateX(185.5%);
		-moz-transform: translateX(185.5%);
		transform: translateX(185.5%);opacity: 1;}
	.personInfo h2{font-size: 1.5rem;}
	.personInfo p,.personInfo h5{font-size: 1.25rem;}
	.personInfo .left {width:70%;}
	.personInfo .right{width:30%;}

	.publicAccount{right: 0;height: 100%;width:45%;-webkit-transform: translateX(300%);
	-ms-transform: translateX(300%);
	-o-transform: translateX(300%);
	transform: translateX(300%);margin-top: -28%;}
	.publicAccount.active{-webkit-transform: translateX(185.5%);
		-ms-transform: translateX(185.5%);
		-moz-transform: translateX(185.5%);
		transform: translateX(185.5%);opacity: 1;}
	.placeholder .portrait,.bottomInfo .portrait{display: none;}
	.placeholder .landspan,.bottomInfo .landspan{display: block;}
	.details.right{bottom: 28.5%;}
	
	.details .right span:last-child{padding-right: 0;}
	.userlike .like{margin-right: 0.65rem;}
	.details .right{width: 52%;}

	.video .details.left{bottom: 3rem;}
	.video .details.right{bottom: 35.5%;}
	.bottomInfo .close{
		transform:scale(0.65);
    	-webkit-transform: scale(0.5);
    	right: 1rem;
    	bottom: 1.25rem;
	}
	.details.adjust{bottom: 24%;}
}

@media(max-width: 360px) and (orientation : portrait){
	.modellist li, .morelist li{line-height: 3;height: 42px;}
	.modellist li a, .morelist li a{font-size: 1.35rem;}
	.details.left p{margin: 0.675rem 0 2rem 0;}
	.video .details.right{bottom: 18%;}
	.details.right{bottom: 18.5%;}
	.details.adjust{bottom: 17%;}
}

@media(max-height: 375px) and (orientation : landscape){
	.video .details.right{bottom: 38%;}
	.video .right.adjust{bottom: 32.5%;}
	.bottomInfo .close{right: 1rem;bottom: 1rem;}
}
@media(max-height: 360px) and (orientation : landscape){
	.modellist li, .morelist li{line-height: 2.8;font-size: 1.5rem;}
	.morelist div{margin: 0 .675rem 0 0;}
	.details.right{bottom: 31.5%;}
	.details.adjust{bottom: 28%;}
}

@media(max-height: 360px) and (max-width: 500px) and (orientation : landscape){
	.personInfo{width: 52%;}
	.personInfo h2{font-size: 1.5rem;}
	.personInfo.active{
		-webkit-transform: translateX(92%);
		-ms-transform: translateX(92%);
		-moz-transform: translateX(92%);
		transform: translateX(92%);}
	.personInfo p, .personInfo h5 {font-size: 1.05rem;}

	.video .details.right{bottom: 24%;}
}

@media(max-width: 320px) and (orientation : portrait){
	.video .details.right{bottom: 36.2%;}
	.video .details.adjust{bottom: 34.5%;}
	.details .right span:last-child{margin-left: 15px;}
}
@media(max-height: 320px) and (orientation : landscape){
	.video .details.right{bottom: 44%;}
	.video .details.adjust{bottom: 38%;}
	.bottomInfo .close{right: 0.675rem;bottom: 0.675rem;}
}

@media(max-width: 375px){
	.details.left h3{font-size: 1.35rem;}
	.bottomInfo .close{right: 0;bottom: 0;}
	.details.right .like{transform: scale(0.5);
    -webkit-transform: scale(0.5);}
}
@media(max-width: 320px){
	.details.left h3{font-size: 1.2rem;}
	.bottomInfo .close{
		transform:scale(0.65);
    	-webkit-transform: scale(0.5);
    	right: -0.25rem;
    	bottom: -0.25rem;
	}
}
