.actions-ct .widgets:after,.clearfix:after,.more:after,.nano-tip:after,.widgets-top:after {
    clear: both
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0
}

@font-face {
    font-family:iconfont;src:url(//at.alicdn.com/t/font_1476930375_9345844.eot);src:url(//at.alicdn.com/t/font_1476930375_9345844.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1476930375_9345844.woff) format('woff'),url(//at.alicdn.com/t/font_1476930375_9345844.ttf) format('truetype'),url(//at.alicdn.com/t/font_1476930375_9345844.svg#iconfont) format('svg')
}

.iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

#pano-player * {
    box-sizing: content-box
}

#disqus_thread {
    padding: 0 10px
}

#SOHUCS .cy-newlogin-wap .cy-newlogin-wrapper .cy-newlogin-body .cy-newlogin-form .cy-newlogin-form-line .cy-get-pwd {
    line-height: 12px
}

.origin-img {
    z-index: 111113!important
}

.language {
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px
}

.language .flag {
    width: 16px;
    vertical-align: sub;
    margin-right: 8px
}

.language #lang-link {
    text-decoration: none;
    display: inline;
    line-height: inherit;
    color: #fff;
    padding: 0;
    font-size: 12px
}

.language #lang-link.black {
    color: #2d2d2d
}

.qrcode-ct {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100004;
    background: rgba(0,0,0,.4)
}

.qrcode {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    margin-left: -100px;
    margin-top: -100px;
    background: #fff;
    border-radius: 5px
}

.mobile-frame-ct {
    position: relative;
    height: 100%;
    background-color: #fff
}


@media (min-width:900px) {
    body:not(.force-desktop),html {
        position: relative!important
    }

    body:not(.force-desktop) {
        min-height: 800px;
        background-image: url(/public/images/event/img/bg@1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        overflow-x: hidden
    }

    body:not(.force-desktop) .mobile-frame-ct {
        overflow: auto;
        width: 665px;
        height: 500px;
        z-index: 10;
        border: 1px solid #000;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -332.5px
    }

    body:not(.force-desktop),body:not(.force-desktop){
        display: block
    }

    body:not(.force-desktop) .nano-tip.mobile {
        position: absolute!important;
        -webkit-transition: none;
        transition: none
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down {
        height: 0;
        line-height: 0;
        bottom: 0;
        padding: 0
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down .button,body:not(.force-desktop) .nano-tip.mobile.hide-down .player-icon,body:not(.force-desktop) .nano-tip.mobile.hide-down .player-text {
        display: none
    }

    body:not(.force-desktop) .nano-tip.mobile.hide-down .close .up {
        display: block!important;
        margin: auto
    }

    body:not(.force-desktop) .comments-detail,body:not(.force-desktop) .widgets-top .comments {
        display: none
    }
}

@media (min-width:900px) and only screen and (-webkit-min-device-pixel-ratio:2),(min-width:900px) and only screen and (min--moz-device-pixel-ratio:2),(min-width:900px) and only screen and (min-device-pixel-ratio:2),(min-width:900px) and only screen and (min-resolution:192dpi),(min-width:900px) and only screen and (min-resolution:2dppx) {
    body:not(.force-desktop) {
        background-image: url(/public/images/event/img/bg@2x.jpg)
    }
}


body,h6 {
    line-height: 1.6
}

.actions-ct .iconfont,.actions-ct .widgets .iconfont {
    vertical-align: bottom
}

.gray-darker {
    color: #222
}

.gray-dark {
    color: #333
}

.gray {
    color: #555
}

.gray-light {
    color: #777
}

.gray-lighter {
    color: #eee
}

.column,.columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 80%
}

.button,button,input[type=submit],input[type=reset],input[type=button] {
    padding: 0 30px;
    color: #555;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    height: 40px;
    white-space: nowrap;
    box-sizing: border-box
}

.column,.columns {
    margin-left: 4%
}

.column:first-child,.columns:first-child {
    margin-left: 0
}

.one.column,.one.columns {
    width: 4.66666667%
}

.two.columns {
    width: 13.33333333%
}

.three.columns {
    width: 22%
}

.four.columns {
    width: 30.66666667%
}

.five.columns {
    width: 39.33333333%
}

.six.columns {
    width: 48%
}

.seven.columns {
    width: 56.66666667%
}

.eight.columns {
    width: 65.33333333%
}

.nine.columns {
    width: 74%
}

.ten.columns {
    width: 82.66666667%
}

.eleven.columns {
    width: 91.33333333%
}

.twelve.columns {
    width: 100%;
    margin-left: 0
}

.one-third.column {
    width: 30.66666667%
}

.two-thirds.column {
    width: 65.33333333%
}

.one-half.column {
    width: 48%
}

.offset-by-one.column,.offset-by-one.columns {
    margin-left: 8.66666667%
}

.offset-by-two.column,.offset-by-two.columns {
    margin-left: 17.33333333%
}

.offset-by-three.column,.offset-by-three.columns {
    margin-left: 26%
}

.offset-by-four.column,.offset-by-four.columns {
    margin-left: 34.66666667%
}

.offset-by-five.column,.offset-by-five.columns {
    margin-left: 43.33333333%
}

.offset-by-six.column,.offset-by-six.columns {
    margin-left: 52%
}

.offset-by-seven.column,.offset-by-seven.columns {
    margin-left: 60.66666667%
}

.offset-by-eight.column,.offset-by-eight.columns {
    margin-left: 69.33333333%
}

.offset-by-nine.column,.offset-by-nine.columns {
    margin-left: 78%
}

.offset-by-ten.column,.offset-by-ten.columns {
    margin-left: 86.66666667%
}

.offset-by-eleven.column,.offset-by-eleven.columns {
    margin-left: 95.33333333%
}

.offset-by-one-third.column,.offset-by-one-third.columns {
    margin-left: 34.66666667%
}

.offset-by-two-thirds.column,.offset-by-two-thirds.columns {
    margin-left: 69.33333333%
}

.offset-by-one-half.column {
    margin-left: 52%
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5em;
    font-weight: 400;
    font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300
}

h1 {
    line-height: 1.2;
    font-size: 5rem
}

h2 {
    line-height: 1.25;
    font-size: 4.2rem
}

h3 {
    line-height: 1.3;
    font-size: 3.6rem
}

h4 {
    line-height: 1.35;
    font-size: 3rem
}

h5 {
    line-height: 1.5;
    font-size: 2.4rem
}

h6 {
    font-size: 1.5rem
}

p {
    margin-top: 0
}

a {
    color: #1eaedb
}

a:hover {
    color: #1b9cc5
}

.button,button {
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #bbb;
    transition: all .25s ease-in-out
}

.button.button-block,button.button-block,label,legend {
    display: block
}

ol,ul {
    padding-left: 0;
    margin-top: 0
}

.button:focus,button:focus {
    outline: 0
}

input[type=submit],input[type=reset],input[type=button] {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #bbb;
    transition: all .25s ease-in-out
}

input[type=submit]:focus,input[type=reset]:focus,input[type=button]:focus {
    outline: 0
}

input[type=submit].button-block,input[type=reset].button-block,input[type=button].button-block {
    display: block;
    width: 100%
}

.button:hover,button:hover,input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary,button.button-primary,input[type=submit].button-primary,input[type=reset].button-primary,input[type=button].button-primary {
    color: #2d2d2d;
    background-color: #ffd200;
    border-color: #ffd200
}

.button.button-primary:hover,button.button-primary:hover,input[type=submit].button-primary:hover,input[type=reset].button-primary:hover,input[type=button].button-primary:hover {
    color: #2d2d2d;
    background-color: #E6BB00;
    border-color: #E6BB00
}

.button.button-primary:active,button.button-primary:active,input[type=submit].button-primary:active,input[type=reset].button-primary:active,input[type=button].button-primary:active {
    color: rgba(45,45,45,.2);
    background-color: #CFAB0A;
    border-color: #CFAB0A
}

.button.button-primary.disabled,button.button-primary.disabled,input[type=submit].button-primary.disabled,input[type=reset].button-primary.disabled,input[type=button].button-primary.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

.button.button-dark,button.button-dark,input[type=submit].button-dark,input[type=reset].button-dark,input[type=button].button-dark {
    color: #fff;
    background-color: #666;
    border-color: #666
}

.button.button-dark:hover,button.button-dark:hover,input[type=submit].button-dark:hover,input[type=reset].button-dark:hover,input[type=button].button-dark:hover {
    color: #fff;
    background-color: #595959;
    border-color: #595959
}

.button.button-dark:active,button.button-dark:active,input[type=submit].button-dark:active,input[type=reset].button-dark:active,input[type=button].button-dark:active {
    color: #fff;
    background-color: #4d4d4d;
    border-color: #4d4d4d
}

.button.button-dark.disabled,button.button-dark.disabled,input[type=submit].button-dark.disabled,input[type=reset].button-dark.disabled,input[type=button].button-dark.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

.button.button-gray,button.button-gray,input[type=submit].button-gray,input[type=reset].button-gray,input[type=button].button-gray {
    color: #2d2d2d;
    background-color: #F0F0F0;
    border-color: #F0F0F0
}

.button.button-gray:hover,button.button-gray:hover,input[type=submit].button-gray:hover,input[type=reset].button-gray:hover,input[type=button].button-gray:hover {
    color: #2d2d2d;
    background-color: #E6E6E6;
    border-color: #E6E6E6
}

.button.button-gray:active,button.button-gray:active,input[type=submit].button-gray:active,input[type=reset].button-gray:active,input[type=button].button-gray:active {
    color: rgba(45,45,45,.2);
    background-color: #D9D9D9;
    border-color: #D9D9D9
}

.button.button-gray.disabled,button.button-gray.disabled,input[type=submit].button-gray.disabled,input[type=reset].button-gray.disabled,input[type=button].button-gray.disabled {
    color: #969696;
    background-color: #B7B7B7;
    border-color: #B7B7B7
}

.button.button-black,button.button-black,input[type=submit].button-black,input[type=reset].button-black,input[type=button].button-black {
    color: #fff;
    background-color: #151515;
    border-color: #151515
}

.button.button-black:hover,button.button-black:hover,input[type=submit].button-black:hover,input[type=reset].button-black:hover,input[type=button].button-black:hover {
    color: #fff;
    background-color: #2B2B2B;
    border-color: #2B2B2B
}

.button.button-black:active,button.button-black:active,input[type=submit].button-black:active,input[type=reset].button-black:active,input[type=button].button-black:active {
    color: rgba(255,255,255,.2);
    background-color: #424242;
    border-color: #424242
}

.button.button-black.disabled,button.button-black.disabled,input[type=submit].button-black.disabled,input[type=reset].button-black.disabled,input[type=button].button-black.disabled {
    color: #5b5b5b;
    background-color: #676767;
    border-color: #676767
}

input[type=email],input[type=number],input[type=search],input[type=text],input[type=tel],input[type=url],input[type=password] {
    height: 40px;
    padding: 6px 10px;
    background-color: #ebebeb;
    font-size: 12px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=email].error,input[type=number].error,input[type=search].error,input[type=text].error,input[type=tel].error,input[type=url].error,input[type=password].error {
    border: 1px solid #FF4545;
    background-color: #FFD8D8
}

input[type=email]:hover,input[type=number]:hover,input[type=search]:hover,input[type=text]:hover,input[type=tel]:hover,input[type=url]:hover,input[type=password]:hover,select,textarea {
    background-color: #fff
}

select,textarea {
    height: 40px;
    padding: 6px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=email]:focus,input[type=number]:focus,input[type=search]:focus,input[type=text]:focus,input[type=tel]:focus,input[type=url]:focus,input[type=password]:focus {
    background-color: #fff;
    border: 1px solid #ffd200;
    outline: 0
}

select:focus,textarea:focus {
    border: 1px solid #ffd200;
    outline: 0
}

input[disabled=disabled][type=email],input[disabled=disabled][type=number],input[disabled=disabled][type=search],input[disabled=disabled][type=text],input[disabled=disabled][type=tel],input[disabled=disabled][type=url],input[disabled=disabled][type=password] {
    color: #7f7f7f;
    background-color: #999
}

label,legend {
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox],input[type=radio] {
    display: inline;
    height: 16px;
    width: 16px;
    margin: 0;
    vertical-align: bottom
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol ol,ol ul,ul ol,ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

.button,button,li {
    margin-bottom: 1rem
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 2px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

td,th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}

td:first-child,th:first-child {
    padding-left: 0
}

td:last-child,th:last-child {
    padding-right: 0
}

fieldset,input,select,textarea {
    margin-bottom: 1.5rem
}

blockquote,dl,figure,form,ol,p,pre,table,ul {
    margin-bottom: 2.5rem
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1
}

.container:after,.row:after,.u-cf {
    content: "";
    display: table;
    clear: both
}

body,html {
    margin: 0;
    padding: 0
}

*,:after,:before {
    box-sizing: border-box
}

* {
    font-family: Avenir,'Helvetica Neue',Helvetica,Arial,'Source Han Sans TC','Source Han Sans','Nimbus Sans L','Liberation Sans','Hiragino Sans GB','Nota Han Sans','Microsoft YaHei','Droid Sans','Droid Sans Fallback','Wenquanyi Micro Hei ','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif
}

a:active,a:focus,a:hover {
    outline: 0
}

.left {
    float: left!important
}

.right {
    float: right!important
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.hidden {
    display: none!important;
    visibility: hidden!important
}

.show {
    display: block!important
}

.text-right {
    text-align: right
}

.wrap {
    width: 100%;
    margin: 0 auto
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0,0,1,15deg);
        transform: rotate3d(0,0,1,15deg)
    }

    40% {
        -webkit-transform: rotate3d(0,0,1,-10deg);
        transform: rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: rotate3d(0,0,1,5deg);
        transform: rotate3d(0,0,1,5deg)
    }

    80% {
        -webkit-transform: rotate3d(0,0,1,-5deg);
        transform: rotate3d(0,0,1,-5deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0,0,1,15deg);
        transform: rotate3d(0,0,1,15deg)
    }

    40% {
        -webkit-transform: rotate3d(0,0,1,-10deg);
        transform: rotate3d(0,0,1,-10deg)
    }

    60% {
        -webkit-transform: rotate3d(0,0,1,5deg);
        transform: rotate3d(0,0,1,5deg)
    }

    80% {
        -webkit-transform: rotate3d(0,0,1,-5deg);
        transform: rotate3d(0,0,1,-5deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes scaleIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scaleIn {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.activity-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 999999;
    display: none
}

.activity-ct {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.activity-ct .item-ct {
    position: relative;
    width: 288px;
    height: 442px;
    margin: auto;
    display: none
}

.activity-ct .item-ct.index-rules .scroll-ct {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll
}

.activity-ct .item-ct.index-rules .scroll-text {
    display: block;
    width: 243px;
    margin: auto;
    padding: 23px 0
}

.activity-ct .bg {
    display: block;
    width: 100%;
    border-radius: 5px
}

.activity-ct .round {
    width: 34px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -17px
}

.activity-ct .input-ct {
    position: absolute;
    top: 200px;
    padding: 0 20px;
    width: 100%
}

.activity-ct .input-ct .email-form {
    width: 100%;
    height: 40px;
    line-height: 36px;
    border-radius: 25px;
    background-color: #fff;
    color: #123C6B;
    font-size: 16px;
    text-align: center;
    border-width: 2px;
    border-color: #C1E8FF;
    outline: 0;
    display: block;
    margin: 0
}

.activity-wechat-share,.nano-tip {
    background-color: rgba(0,0,0,.8);
    position: absolute
}

.activity-ct .submit-email {
    position: absolute;
    height: 50px;
    top: 243px;
    width: 100%
}

.activity-ct .explore-love {
    position: absolute;
    height: 50px;
    top: 184px;
    width: 100%
}

.activity-ct .rules-btn {
    position: absolute;
    bottom: 11px;
    right: 7px;
    height: 22px;
    width: 117px
}

.activity-ct .gift-link,.activity-ct .gift-share {
    display: none;
    position: absolute;
    height: 50px;
    bottom: 35px;
    width: 100%
}

.activity-ct.cn .explore-love {
    top: 367px
}

.activity-ct.cn .rules-btn {
    bottom: 7px;
    right: 84px;
    height: 18px;
    width: 117px
}

.activity-ct.cn .submit-email {
    top: 289px
}

.activity-ct.cn .input-ct {
    top: 236px
}

.activity-ct.cn .input-ct .email-form {
    border-color: #fff;
    color: #2d2d2d
}

.activity-loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px
}

.activity-wechat-share {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: none
}

.activity-wechat-share img {
    display: block;
    width: 100%
}

.brand-list {
    position: absolute;
    top: -50px;
    width: 82px;
    right: 52px;
    pointer-events: none
}

.nano-tip {
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100005;
    -webkit-transition: bottom .25s ease,opacity .25s ease;
    transition: bottom .25s ease,opacity .25s ease
}

.nano-tip:after,.nano-tip:before {
    content: " ";
    display: table
}

.nano-tip.hide-down {
    bottom: -56px
}

.nano-tip.hide-down .close {
    top: -16px
}

.nano-tip.hide-down .close .up {
    display: block
}

.nano-tip.hide-down .close .down {
    display: none
}

.nano-tip.fade-out {
    opacity: 0;
    pointer-events: none
}

.nano-tip .player-icon {
    width: 36px;
    float: left;
    margin-right: 5px
}

.nano-tip .player-text {
    float: left;
    height: 28px;
    margin-top: 5px
}

.nano-tip .button {
    float: right;
    padding: 0;
    width: 76px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0
}

.actions-ct .widgets .col,.widgets-top .col {
    float: left;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer
}

.nano-tip .close {
    position: absolute;
    color: #979797;
    width: 16px;
    height: 16px;
    top: -6px;
    left: 0;
    background: rgba(0,0,0,.8);
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-transition: top .25s ease;
    transition: top .25s ease
}

body,html {
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 100%
}

.nano-tip .close i {
    display: block;
    line-height: 16px
}

.nano-tip .close .up {
    display: none
}

body {
    margin: 0
}

.fadeOut {
    opacity: 0!important;
    pointer-events: none
}

.mobile-frame-ct {
    overflow: hidden
}

.actions-ct {
    position: absolute;
    bottom: 58px;
    left: 0;
    width: 100%;
    background-color: transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 0 18px;
    overflow: hidden;
    z-index: 100002;
    color: #fff
}

.actions-ct.no-ad {
    bottom: 0
}

.actions-ct .iconfont {
    font-size: 12px
}

.actions-ct .intro {
    margin-bottom: 10px;
    position: relative
}

.actions-ct .intro .text-ct {
    padding-right: 30px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

.actions-ct .intro .text-ct .text {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    color: #fff;
    font-size: 14px
}

.actions-ct .intro .text-more {
    display: none;
    position: absolute;
    right: 0;
    top: 1px;
    line-height: 5px;
    height: 12px;
    width: 24px;
    background: rgba(245,245,245,.27);
    text-align: center;
    border-radius: 6px;
    margin-top: 5px
}

.actions-ct .widgets {
    margin-bottom: 11px
}

.actions-ct .widgets:after,.actions-ct .widgets:before {
    content: " ";
    display: table
}

.actions-ct .widgets .col {
    padding-right: 15px;
    text-align: left;
    color: #fff;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    overflow: hidden
}

.actions-ct .widgets .left-border {
    position: relative
}

.actions-ct .widgets .left-border:after {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 18px;
    width: 1px;
    background-color: rgba(255,255,255,.2)
}

.actions-ct .widgets .likes {
    border-radius: 19px;
    border: 1px solid #fff;
    background: rgba(255,255,255,.1);
    line-height: 26px
}

.actions-ct .widgets .likes .iconfont {
    line-height: 27px
}

.actions-ct .widgets .likes .txt-val {
    vertical-align: top
}

.actions-ct .widgets .likes .fill {
    color: rgba(249, 10, 4, 0.87);
    display: none
}

.actions-ct .widgets .likes.lighted .fill {
    display: inline
}

.actions-ct .widgets .likes.lighted .empty {
    display: none
}

.actions-ct .widgets .likes.animate {
    -webkit-animation: swing .25s ease;
    animation: swing .25s ease
}

.widgets-top {
    position: absolute;
    z-index: 100002;
    left: 16px;
    top: 16px;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.widgets-top:after,.widgets-top:before {
    content: " ";
    display: table
}

.widgets-top .col {
    width: 85px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    overflow: hidden
}

.widgets-top .left-border {
    position: relative
}

.widgets-top .left-border:after {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 18px;
    width: 1px;
    background-color: rgba(255,255,255,.2)
}

.widgets-top .iconfont {
    vertical-align: bottom
}

.widgets-top .likes {
    border-radius: 19px;
    border: 1px solid #fff;
    background: rgba(255,255,255,.1);
    line-height: 26px
}

.widgets-top .likes .iconfont {
    line-height: 27px
}

.widgets-top .likes .fill {
    color: rgba(249, 10, 4, 0.87);
    display: none
}

.widgets-top .likes.lighted .fill {
    display: inline
}

.widgets-top .likes.lighted .empty {
    display: none
}

.widgets-top .likes.animate {
    -webkit-animation: swing .25s ease;
    animation: swing .25s ease
}

.info-detail {
    position: absolute;
    background: rgba(0,0,0,.8);
    z-index: 100004;
    left: 0;
    bottom: 128px;
    width: 100%;
    height: 0;
    padding: 0 16px;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    pointer-events: all
}

.info-detail.no-ad {
    bottom: 70px
}

.info-detail.open {
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 16px;
    overflow: auto
}

.info-detail .info-text {
    margin-top: 51px;
    font-size: 14px;
    color: #CDCDCD;
    letter-spacing: 0;
    line-height: 24.92px
}

.info-detail .cancle-detail {
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 16px;
    cursor: pointer
}

.comments-detail {
    position: absolute;
    background: 0 0;
    z-index: 100002;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 0;
    padding: 0 16px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.comments-detail .comments-ct {
    background-color: #fff;
    height: 100%;
    border-radius: 3px;
    position: relative;
    padding-top: 44px
}

.comments-detail .comments-ct .comments-title-ct {
    height: 44px;
    background-color: #fff;
    line-height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.comments-detail .comments-ct .comments-title-ct .comments-title {
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 10px
}

.comments-detail .comments-ct .comments-title-ct .cancle-comments {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    padding: 0 10px;
    cursor: pointer
}

.comments-detail .comments-ct .comments-body {
    width: 100%;
    overflow: auto;
    height: 100%
}

.comments-detail.open {
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 16px
}

.white-line {
    position: absolute;
    bottom: 45px;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    z-index: 10010
}

.configmenu-mask,.configmenu-mask .configmenu-ct,.liner-bg,.liner-bg-top {
    position: absolute;
    left: 0;
    width: 100%
}

.liner-bg {
    bottom: 0;
    height: 230px;
    z-index: 1110;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.84) 100%);
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.84) 100%);
    pointer-events: none;
    -webkit-transition: opacity .5s ease,bottom .5s ease;
    transition: opacity .5s ease,bottom .5s ease
}

.liner-bg.no-ad {
    bottom: -55px
}

.liner-bg.no-album {
    bottom: -105px
}

.liner-bg.no-album.no-ad {
    bottom: -155px
}

.liner-bg-top {
    top: 0;
    height: 72px;
    z-index: 1;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);
    background-image: linear-gradient(-180deg,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);
    pointer-events: none;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.configmenu-mask {
    overflow: hidden;
    top: -235px;
    z-index: 100003;
    -webkit-transition: top .5s ease;
    transition: top .5s ease
}

.configmenu-mask.open {
    top: 0;
    height: 100%
}

.configmenu-mask .configmenu-ct {
    top: 0;
    font-size: 14px;
    color: #E6E6E6;
    background: rgba(38,38,38,.9)
}

.configmenu-mask .configmenu-ct .config-title {
    padding: 0 16px;
    height: 43px;
    vertical-align: middle;
    line-height: 43px;
    border-bottom: 1px solid rgba(255,255,255,.05)
}

.configmenu-mask .configmenu-ct .config-title .cancle-config {
    float: right;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

.configmenu-mask .configmenu-ct .switcher {
    background: rgba(255,210,0,0);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 10px;
    width: 36px;
    height: 16px;
    display: inline-block;
    position: relative;
    float: right;
    margin: 12px
}

.configmenu-mask .configmenu-ct .switcher:after {
    content: ' ';
    border-radius: 50%;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,.75)
}

.configmenu-mask .configmenu-ct .switcher.active:after {
    left: 21px;
    background: rgba(249, 10, 4, 0.87);
}

.configmenu-mask .configmenu-ct ul.config-list {
    margin: 0;
    padding: 10px 0 10px 13px
}

.configmenu-mask .configmenu-ct ul.config-list li {
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,.05);
    cursor: pointer
}

.configmenu-mask .configmenu-ct ul.config-list li:last-child {
    border-bottom: none
}

.configmenu-mask .configmenu-ct ul.config-list li:active {
    background: #4a4a4a
}

.configmenu-mask .configmenu-ct ul.config-list li .iconfont {
    font-size: 23px;
    vertical-align: sub;
    margin-right: 10px
}

.image-information-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100004;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    -webkit-transition: opacity .25s,-webkit-transform .25s;
    transition: opacity .25s,-webkit-transform .25s;
    transition: opacity .25s,transform .25s;
    transition: opacity .25s,transform .25s,-webkit-transform .25s;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
}

.image-information-mask.open {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.image-information-mask .mask-header {
    padding: 0 16px;
    height: 43px;
    vertical-align: middle;
    line-height: 43px;
    border-bottom: 1px solid rgba(255,255,255,.05)
}

.image-information-mask .mask-header .cancle-info {
    float: right;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

.image-information-mask .mask-body {
    box-sizing: border-box;
    position: absolute;
    top: 43px;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 43px
}

.image-information-mask .mask-body .info-title {
    padding: 25px 14px 12px
}

.image-information-mask .mask-body .info-body {
    list-style: none;
    padding: 0 0 0 14px;
    margin: 0;
    border-bottom: 1px solid rgba(230,230,230,.1)
}

.image-information-mask .mask-body .info-body .iconfont {
    font-size: 20px;
    vertical-align: bottom
}

.image-information-mask .mask-body .info-body li {
    box-sizing: content-box;
    height: 46px;
    line-height: 46px;
    padding: 0 14px 0 0;
    margin: 0;
    border-top: 1px solid rgba(255,255,255,.1)
}

.image-information-mask .mask-body .info-body li .item-title {
    float: left
}

.image-information-mask .mask-body .info-body li .item-body {
    float: right
}

.pano-player {
    width: 100%;
    height: 100%;
    background-color: #000
}

#SOHUCS {
    background-color: #fff;
    -webkit-tap-highlight-color: transparent
}

.audio-ct {
    position: absolute;
    bottom: 64px;
    right: 18px;
    cursor: pointer;
    z-index: 100003;
    line-height: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.audio-ct .audio {
    width: 24px
}

.audio-ct .audio.audio-open {
    display: none
}

.audio-ct.no-ad {
    bottom: 6px
}

body:not(.force-desktop) .mobile-frame-ct {
    overflow: hidden
}